@import url('https://unpkg.com/leaflet/dist/leaflet.css');


@font-face{
    font-family: Poppins;
    src:url("../src//assets//fonts/Poppins-SemiBold.ttf")
}


@import "tailwindcss";
@theme{
    --font-poppins:Poppins,"sans-serif";
}

